.componentGallery {
  overflow: hidden;
  overflow-y: hidden;
  height: 100vh; }

.panoramicImageSection {
  margin: 0;
  padding: 50px 50px 0 50px;
  background-color: #fff;
  z-index: -5; }

.panoramicImageSection * {
  margin: 0;
  padding: 0;
  overflow: visible; }

.hiddenDiv {
  visibility: hidden; }

.horizontalCardStack {
  display: flex;
  flex-direction: row; }

.cardImage {
  width: 100%;
  min-width: 100%;
  display: block;
  object-fit: contain; }

.horizontalStackedCardPhaseTwo {
  display: none; }

.horizontalStackedCardPhaseThree {
  display: none; }

.horizontalStackedCardPhaseFour {
  display: none; }

.horizontalStackedCard, .horizontalStackedCardA {
  background: transparent;
  perspective: 1000px;
  height: fit-content;
  width: 12.5vw; }

.horizontalStackedCard .innerCardDiv, .horizontalStackedCard .innerCardDivA, .horizontalStackedCardA .innerCardDiv, .horizontalStackedCardA .innerCardDivA {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  width: 100%;
  height: fit-content;
  text-align: center; }

.horizontalStackedCard .innerCardDiv .cardFront, .horizontalStackedCard .innerCardDiv .cardBack, .horizontalStackedCard .innerCardDiv .cardBackPhaseTwo, .horizontalStackedCard .innerCardDiv .cardFrontLastPhase, .horizontalStackedCard .innerCardDiv .cardBackPhaseFour, .horizontalStackedCard .innerCardDivA .cardFront, .horizontalStackedCard .innerCardDivA .cardBack, .horizontalStackedCard .innerCardDivA .cardBackPhaseTwo, .horizontalStackedCard .innerCardDivA .cardFrontLastPhase, .horizontalStackedCard .innerCardDivA .cardBackPhaseFour, .horizontalStackedCardA .innerCardDiv .cardFront, .horizontalStackedCardA .innerCardDiv .cardBack, .horizontalStackedCardA .innerCardDiv .cardBackPhaseTwo, .horizontalStackedCardA .innerCardDiv .cardFrontLastPhase, .horizontalStackedCardA .innerCardDiv .cardBackPhaseFour, .horizontalStackedCardA .innerCardDivA .cardFront, .horizontalStackedCardA .innerCardDivA .cardBack, .horizontalStackedCardA .innerCardDivA .cardBackPhaseTwo, .horizontalStackedCardA .innerCardDivA .cardFrontLastPhase, .horizontalStackedCardA .innerCardDivA .cardBackPhaseFour {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%; }

.horizontalStackedCard .innerCardDiv .cardBackLastPhase, .horizontalStackedCard .innerCardDivA .cardBackLastPhase, .horizontalStackedCardA .innerCardDiv .cardBackLastPhase, .horizontalStackedCardA .innerCardDivA .cardBackLastPhase {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  transform: rotateY(180deg); }

.horizontalStackedCard .innerCardDiv .cardBack, .horizontalStackedCard .innerCardDivA .cardBack, .horizontalStackedCardA .innerCardDiv .cardBack, .horizontalStackedCardA .innerCardDivA .cardBack {
  transform: rotateY(180deg); }

/* ----- Variables ----- */
.developmentOutline {
  border: 3px solid red; }

.bodyHtmlHidden {
  overflow: hidden; }

.cameraProductCardSection {
  height: 100vh;
  background-color: #01e37f;
  display: flex; }

.headerOverlay {
  height: 100%;
  width: 100%;
  background-color: #01e37f; }

.navbarBackgroundAdjust {
  background-color: #01e37f; }

.drinkProductCardSection {
  font-family: "Raleway", sans-serif;
  background-color: #01e37f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 18; }

h3 {
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: #a6a6a6; }

.CrossfadeImage {
  position: inherit !important; }

.drinkProductCardSection img {
  max-width: 100%;
  height: 100%;
  object-fit: contain; }

.drinkProductCardSection .currentCameraCardImage {
  max-width: 110%;
  height: 60%;
  margin-top: 10%;
  object-fit: contain; }

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding: 2.5em 0;
  min-width: 600px;
  max-width: 900px;
  border-radius: 5px; }

.photo-container {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3); }

.photo-main {
  border-radius: 6px 6px 0 0;
  background-color: #9be010;
  background: radial-gradient(#e5f89e, #96e001); }

.photo-main .controls {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  color: #fff;
  position: absolute;
  width: 100%; }

.photo-main .controls i {
  cursor: pointer; }

.photo-main .imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
  margin-top: 0; }

.photo-main img {
  position: absolute;
  max-width: 110%;
  filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
  padding: 15px; }

.photo-album {
  padding: 0.7em 1em;
  border-radius: 0 0 6px 6px;
  background-color: #fff; }

.photo-album ul {
  display: flex;
  justify-content: space-around; }

.photo-album li {
  float: left;
  width: 45px;
  height: 45px;
  padding: 7px;
  border: 1px solid #a6a6a6;
  border-radius: 3px; }

.photo-album .currentImageInAlbum {
  perspective: 1000px;
  border-radius: 3px;
  background-color: #F5F5F5; }

.photo-album .currentImageInAlbum img {
  transform-style: preserve-3d;
  transform: translate3d(0, 0px, 25px);
  transition: transform 0.3s; }

.photo-album ul li:hover {
  perspective: 1000px;
  background-color: #F5F5F5; }

.photo-album ul li:hover img {
  transform-style: preserve-3d;
  transform: translate3d(0, 0px, 25px);
  transition: transform 0.3s; }

.product__info {
  padding: 0.8em 1em;
  position: relative;
  display: block;
  z-index: -5;
  background: #fff;
  border-radius: 10px; }

.product__photo {
  position: relative;
  display: block;
  transform: translateX(50%);
  background: #fff;
  border-radius: 10px; }

.title h1 {
  margin-bottom: 0.1em;
  color: #4c4c4c;
  font-size: 1.5em;
  font-weight: 900; }

.title span {
  font-size: 0.7em;
  color: #a6a6a6; }

.price {
  margin: 1.5em 0;
  color: #ff3f40;
  font-size: 1.2em; }

.price span {
  padding-left: 0.15em;
  font-size: 2.9em; }

.variant {
  overflow: auto; }

.variant h3 {
  margin-bottom: 1.1em; }

.variant li {
  float: left;
  width: 35px;
  height: 35px;
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer; }

.variant li:first-child, .variant li:hover {
  border: 1px solid #a6a6a6; }

.variant li:not(:first-child) {
  margin-left: 0.1em; }

.description {
  clear: left;
  margin: 2em 0; }

.description h3 {
  margin-bottom: 1em; }

.description ul {
  font-size: 0.8em;
  list-style: disc;
  margin-left: 1em; }

.description li {
  text-indent: -0.6em;
  margin-bottom: 0.5em; }

.buy--btn {
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: #ff3f40;
  box-shadow: 2px 2px 25px -7px #4c4c4c;
  cursor: pointer; }

.buy--btn:active {
  transform: scale(0.97); }

/* ----- Footer Section ----- */
footer {
  padding: 1em;
  text-align: center;
  color: #fff; }

footer a {
  color: #4c4c4c; }

footer a:hover {
  color: #ff3f40; }
