.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0);
	z-index: 998;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}
.backdropIsOpen {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 998;
	visibility: visible;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: min(600px, 80vw);
	height: fit-content;
	min-height: 400px;
	background-color: #01a2ff;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 8px 8px 16px#616161, -8px -8px 16px #757575;
	visibility: hidden;
	transform: translate(-50%, -100vh);
	z-index: 999;
	transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.containerIsOpen {
	visibility: visible;
	transform: translate(-50%, -50%);
}
